* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&family=Roboto&display=swap');


body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background: #edf2f8;
    margin: 2%;
}
.testimonial {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px;
}
.card {
    border-radius: 20px;
    padding: 30px;
    color: white;
}
.header-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header-card h2{
    font-size: 20px;
    font-weight: 400;
}
.header-card p{
    opacity: 50%;
}
.card-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #8e61d2;
    margin-right: 20px;
}
.lead-focus {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 600;
}
.lead-content {
    font-size: 1rem;
    opacity: 50%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
}


/* Card nth */
.card:nth-child(1) {
    background-image: url(/images/bg-pattern-quotation.svg);
    background-position: top right 100px;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    background-color: #733fc8;
}
.card:nth-child(2) {
    background-color: hsl(217, 19%, 35%);
}
.card:nth-child(3) {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    grid-row: 2;
}
.card:nth-child(4) {
    background-color: hsl(219, 29%, 14%);
    grid-column: 2 /4;
}
.card:nth-child(5) {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    grid-row: 1 / 3;
    grid-column: 4;
}

/* responsiveness */
@media (max-width: 780px) {
    .testimonial {
        grid-template-columns: 1fr;
    }
    .card {
        width: 350px;
    }
    .card:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    .card:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }
    .card:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }
    .card:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }
    .card:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
    }
}